/* --- HEADER --- */
.header {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

/* --- HERO --- */
.hero__title {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.hero__subtitle {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.btn-green {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.hero-bg {
  opacity: 0;
}

.animate-banner {
  opacity: 0;
  -webkit-transform: translateY(130px);
          transform: translateY(130px);
}