/* --- HEADER --- */
// .header {
//   opacity: 0;
//   transform: translateY(-50px);
//   transition: none;
// }

/* --- HERO --- */
.hero__title {
  opacity: 0;
  transition: none;
  transform: translateY(30px);
}

.hero__subtitle {
  opacity: 0;
  transition: none;
  transform: translateY(20px);
}

.btn-green {
  opacity: 0;
  transition: none;
  transform: scale(0.8);
}

.hero-bg {
  transition: none;
  opacity: 0;
}

.animate-banner {
  opacity: 0;
  transition: none;
  transform: translateY(130px);
}

/* Исходное состояние: все элементы блока скрыты */
.team__inner > * {
  opacity: 0;
  transition: none;
}

/* Исходное состояние всего блока */
.our-plus__blocks-item {
  opacity: 0;
  transform: translateY(50px); /* соответствует y:50 в fromTo */
  transition: none;
}

/* Исходное состояние иконки */
.our-plus__blocks-icon img {
  opacity: 0;
  transform: scale(0.8); /* соответствует scale:0.8 в fromTo */
  transition: none;
}

/* Исходное состояние заголовка и текста */
.our-plus__blocks-title,
.our-plus__blocks-subtitle {
  opacity: 0;
  transition: none;
}

//

/* Исходное состояние блоков */
.team-user__blocks-user {
  opacity: 0;
  transform: translateY(50px);
  transition: none;
}

.team-user__blocks-img img {
  opacity: 0;
  transform: scale(0.8);
  transition: none;
}

.team-user__blocks-name,
.team-user__blocks-dev {
  opacity: 0;
  transition: none;
}
