.btn-white {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.3s ease-in-out;

  span {
    &:nth-child(1) {
      color: var(----primary-font, #222);
      text-align: center;
      font-size: clamp(0.875rem, 0.764rem + 0.41vw, 1.25rem);

      font-weight: 400;
      line-height: 1;

      display: flex;
      padding: 10px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      // border-radius: 100px;
      height: 58px;

      font-family: var(--second-family);

      background-color: #fff;

      @media (max-width: 1280px) {
        height: 48px;
        padding: 10px 22px;
      }

      @media (max-width: 440px) {
        padding: 0 22px;
        height: 48px;
      }
    }

    // &:nth-child(2) {
    //   background-color: #fff;
    //   padding: 10px;
    //   width: 58px;
    //   height: 58px;
    //   border-radius: 100px;

    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   transition: transform 0.5s ease-in-out;

    //   @media (max-width: 1280px) {
    //     width: 48px;
    //     height: 48px;
    //   }

    //   svg {
    //     width: 10px;
    //     height: 10px;
    //   }
    // }
  }
}

.btn-white:hover {
  span {
    background-color: var(--g);
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  span {
    &:nth-child(2) {
      transform: rotate(360deg);
    }
  }
}

.btn-green {
  display: flex;
  gap: 6px;
  font-family: "Unbounded";
  font-weight: 300;

  span {
    &:nth-child(1) {
      white-space: nowrap;
      color: #000;
      text-align: center;
      font-size: clamp(1rem, 0.851rem + 0.54vw, 1.5rem);
      font-weight: 400;
      padding: 20px 40px;
      // border-radius: 100px;
      background-color: var(--g);
      font-family: var(--second-family);

      @media (max-width: 980px) {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 440px) {
        padding: 20px 20px;
        font-size: 18px;
        width: 100%;
      }
    }

    // &:nth-child(2) {
    //   // border-radius: 100px;

    //   height: 68px;
    //   background-color: var(--g);
    //   width: 68px;

    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   @media (max-width: 980px) {
    //     height: 56px;
    //     width: 56px;
    //   }

    //   svg {
    //     width: 14px;
    //     height: 14px;
    //   }
    // }
  }
}

.btn-green {
  span {
  }
}

.btn-green:hover {
  span {
    background-color: #fff;
    color: var(----primary-font);

    svg {
      path {
        fill: var(----primary-font);
      }
    }
  }

  span {
    &:nth-child(2) {
      transform: rotate(360deg);
    }
  }
}

section {
  margin-bottom: 100px;

  @media (max-width: 440px) {
    margin-bottom: 40px;
  }
}

.sep {
  position: absolute;
  pointer-events: none;
}

.sep-1 {
  top: -440px;
  left: -440px;
}

.sep-2 {
  opacity: 0.4;
  top: -540px;
  right: -540px;
}

.top--title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 440px) {
  }

  h2 {
    span {
      color: #fff;
      font-family: "Unbounded";

      /* --primary-fonts */
      font-size: clamp(2.625rem, 1.745rem + 3.2vw, 4.625rem);
      font-weight: 600;
      line-height: 124.054%; /*  */
      text-transform: uppercase;

      max-width: 600px;
    }
  }

  p {
    color: #fff;
    font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
    font-weight: 300;
    line-height: 144.444%; /*  */

    max-width: 420px;
    display: block;
    margin-left: auto;

    @media (max-width: 440px) {
      display: none;
    }
  }
}
