.form {
  background-color: #fff;
  padding: 80px 0;

  @media (max-width: 1280px) {
    padding: 40px 0;
  }
  // .form__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
      gap: 60px;
    }

    @media (max-width: 440px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  // .form__content

  &__content {
    // .form__content_list

    &_list {
    }

    // .form__content_list-item

    &_list-item {
      display: flex;
      align-items: center;
      gap: 20px;

      transition: 0.3s ease-in-out;

      &:hover {
        .form__content_list-icon {
          background-color: #000;
        }
      }
    }

    // .form__content_list-icon

    &_list-icon {
      background-color: #75bb0d;
      width: 50px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 440px) {
        width: 42px;
        height: 42px;

        svg {
          height: 40%;
        }
      }
    }

    // .form__content_list

    &_list {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    // .form__content_list

    &_list {
    } 

    // .form__content_list

    &_list {
    }
  }

  // .form__content-subtitle

  &__content-subtitle {
    color: #000;
    font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
    font-weight: 300;
    margin-bottom: 12px;

    @media (max-width: 440px) {
      font-size: 12px;
    }
  }

  // .form__content-title

  &__content-title {
    color: #000;
    font-family: "Unbounded";
    font-size: clamp(1.75rem, 1.2rem + 2vw, 3rem);
    font-weight: 400;
    text-transform: uppercase;

    span {
      color: #75bb0d;
      font-weight: 900;
    }
  }
}
.container {
}
.form-input {
  form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background: #fff;
    box-shadow: 1px 4px 15.8px 0 rgba(0, 0, 0, 0.25);

    padding: 42px;

    @media (max-width: 1280px) {
      padding: 30px;
    }

    @media (max-width: 440px) {
      padding: 20px;
    }
  }
  // .form-input__input

  &__input {
    color: #000;
    font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 12px;

    position: relative;

    .inps {
      color: rgba(0, 0, 0, 1);
      font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
      font-weight: 300;
      line-height: 99.897%; /* 13.986px */

      display: block;

      background: #f1f1f1;

      padding: 14px 16px;
    }

    input {
      color: rgba(0, 0, 0, 1);
      font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
      font-weight: 300;
      line-height: 99.897%; /* 13.986px */

      display: block;

      background: #f1f1f1;

      padding: 14px 16px;

      &::placeholder {
        color: rgba(0, 0, 0, 0.28);
        font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
        font-weight: 300;
        line-height: 99.897%; /* 13.986px */
      }
    }

    textarea {
      resize: none;

      color: rgba(0, 0, 0, 1);
      font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
      font-weight: 300;
      line-height: 99.897%; /* 13.986px */

      display: block;

      background: #f1f1f1;

      padding: 14px 16px;

      height: 100px;

      &::placeholder {
        color: rgba(0, 0, 0, 0.28);
        font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
        font-weight: 300;
        line-height: 99.897%; /* 13.986px */
      }
    }

    // .form-input__input_dropdown

    &_dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);

      background-color: #fff;
      display: flex;
      flex-direction: column;
      z-index: 11;

      overflow: hidden;

      button {
        padding: 12px 20px;
        font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);

        display: inline-flex;
        width: 100%;

        &:hover {
          background-color: #ebebeb;
        }
      }
    }

    // .form-input__input_dropdown-item

    &_dropdown-item {
    }

    // .form-input__input_dropdown-btn

    &_dropdown-btn {
    }
  }

  // .form-input__input-name

  &__input-name {
  }

  // .form-input__input-site

  &__input-site {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    .end {
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  // .form-input__btn

  &__btn {
    background: #75bb0d;

    display: inline-flex;
    align-items: center;
    gap: 60px;
    padding: 10px 20px;

    max-width: max-content;

    @media (max-width: 440px) {
      max-width: 100%;
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }

    span {
      &:nth-child(1) {
        color: #fff;
        font-size: clamp(1rem, 0.945rem + 0.2vw, 1.125rem);
        font-weight: 400;
        line-height: 99.897%; /* 13.986px */
      }

      &:nth-child(2) {
        min-width: 42px;
        min-height: 42px;
        background-color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.btn-reset {
}
.circle {
}

.form__content_list_info-muted {
  color: rgba(0, 0, 0, 0.56);
  font-size: clamp(0.875rem, 0.82rem + 0.2vw, 1rem);
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 8px;
}

.form__content_list_info-link {
  color: #000;
  font-size: clamp(1.25rem, 1.14rem + 0.4vw, 1.5rem);
  font-weight: 500;

  @media (max-width: 440px) {
    font-size: 16px;
  }
}

.form-input__btn {
  &:hover {
    background-color: #000;
  }
}

.inps:hover {
  .form-input__input_dropdown {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateY(6px);
  }
}

.form__content_list {
  @media (max-width: 1280px) {
    margin-top: 32px;
    gap: 20px;
  }
}
