html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--second-family);
  // transition: 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;

  background-color: #000;

  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  padding-top: 50px;

  @media (max-width: 4400px) {
    padding-top: 0px;
  }
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input-reset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// Custom

.container {
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (max-width: 440px) {
    padding: 0 12px;
  }
}

.hero__title .char {
  display: inline-block;
}
.hero__title .char.space {
  display: inline; /* пробелы остаются нормальными */
}

// parallax

.parallax-img {
  object-fit: cover;

  img {
    object-fit: cover;
  }
}

.img-container {
  height: 100%;
}

.simpleParallax {
  height: 100% !important;
}

.img-container {
  pointer-events: none;
}

.content__list {
  transition: 0.3s ease-in-out;
}

button:hover,
a:hover,
span {
  transition: 0.3s ease-in-out;
}

.karaoke {
  max-width: 100%;
  hyphens: auto;
}

/* karaoke */

.karaoke span {
  background: linear-gradient(to right, var(--g) 50%, #fff 50%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: slice;
  -webkit-box-decoration-break: slice;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.portfolio-blocks__content-list li {
  background-color: transparent;
}

// button:hover, a:hover, li {
//   transition: 0.3s ease-in-out;
// }
