.year {
  padding: 80px 0;
  // border-radius: 24px;
  background-color: #fff;

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  // .year__inner

  &__inner {
    border-radius: 24px;
  }

  // .year__content

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .year__content-title

  &__content-title {
    color: #222;
    font-size: 46px;
    font-weight: 600;
    line-height: 51px; /* 110.87% */
    text-transform: uppercase;
  }

  // .year__content-item

  &__content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;

    @media (max-width: 440px) {
      &:nth-child(4) {
        order: 1;
      }
    }

    // border-radius: 24px;
    background: rgb(239, 239, 239);

    // border-radius: 12px;

    .top {
      display: flex;
      justify-content: end;

      color: var(--g);

      span {
        font-size: 62px;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        margin-left: auto;
      }
    }

    .bottom {
      p {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: 138.889%; /*  */
      }
    }
  }
}

.year__content-item.green {
  background: var(--g) 100%;

  .bottom {
    p {
      color: #fff;
    }
  }
}
